* {
  transition: all 0.2s ease-in-out;
}

body {
  background: #c5a0bd;
  background-image: url("kucinH.JPG");
  background-repeat: repeat;
  background-size: 15%;
  display: grid;
  place-items: center;
  height: 120vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.form-card {
  margin-top: 5vh; /* Adjusted for mobile */
  border: 2px solid #000000;
  background: #5e5e5e;
  border-radius: 10px;
  height: 8vh; /* Adjusted for mobile */
  width: 70vw; /* Adjusted for mobile */
  padding: 10px;
}

.card {
  border: 2px solid #000000;
  background: #e1d8e2;
  background-image: url("gambaqbengong.JPG");
  background-size: 100%;
  border-radius: 5px;
  height: auto; /* Adjusted for mobile */
  width: 85vw; /* Adjusted for mobile */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
}

.card h2 {
  margin-bottom: 10px;
}

.card-content {
  max-height: 1000px;
}

.card video {
  margin-top: 5px;
  width: 100%; /* Adjusted for mobile */
}

.nested-card {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  background-color: #d3cabe93;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 20px;
}

.video-container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap; /* Added for mobile */
}

.video-container video {
  width: 48%;
  height: auto; /* Adjusted for mobile */
  margin: 5px; /* Added for mobile */
}

.video-title {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  /* Styles for tablets and larger screens */
  .form-card {
    width: 13vw;
    height: 4vh;
  }

  .card {
    width: 75vw;
    height: 102vh;
  }

  .card video {
    width: 48%;
    height: 48%;
  }

  img.birthday {
    max-height: 40vh;
  }
}

.text {
  padding: 1em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}

.modal {
  display: none;
  position: fixed; /* Adjusted for mobile */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Adjusted for mobile */
  height: 100%; /* Adjusted for mobile */
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
