* {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

body {
  background: #c5a0bd;
  background-image: url("kucinH.JPG");
  background-repeat: repeat;
  background-size: 15%;
  margin: 0;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.form-card {
  margin-top: 20px;
  border: 2px solid #000000;
  background: #5e5e5e;
  border-radius: 10px;
  height: 90%;
  width: 100%;
  padding: 10px;
}

.card {
  border: 2px solid #000000;
  background: #e1d8e2;
  background-image: url("gambaqbengong.JPG");
  background-size: cover;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
  height: auto;
}

.card h2 {
  margin-bottom: 10px;
}

.card-content {
   overflow-y: auto;
  margin-top: 10px;
  height: calc(100% - 20px);
}

.card video {
  margin-top: 10px;
  width: 100%;
}

.nested-card {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  background-color: #d3cabe93;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-container video {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.video-title {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  /* Styles for tablets and larger screens */
  .form-card {
    margin-top: 100px;
    height: 40px;
    width: 13vw;
    max-width: 200px;
  }

  .card {
    height: 80vh;
    width: 75vw;
    max-width: 1200px;
  }

  .card video {
    margin-top: 5px;
  }

  .video-container {
    flex-wrap: nowrap;
  }

  .video-container video {
    width: 48%;
    height: 48%;
    margin-bottom: 0;
  }
}

.text {
  padding: 1em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
